<a href="/logout">Salir</a>

<a href="/manager">Menu manager</a>

<table>
    <%var i; for(i=0; i< courses.length;i++){%>
    <tr>
        <td><%=courses[i].name %></td>
        <td><a href="/courses/<%= courses[i].id%>"><button>editar</button></a></td>
        <td>
            <form method="post" action="<%= courses[i].id %>?_method=delete">
                <button type="submit" onclick="return confirm('Borrar manager:<% courses[i].name %>');">borrar</button>
            </form>
        </td>
    </tr>
    <% }%>
</table>
<p/>
<a href="/courses"><button>Crear asignatura</button></a>
