<div class="container">
        <header>
          <h2>¿Qué es placeForMe?</h2>
        </header>
        <div class="row">
          <div class="12u">
            <section>
              <p>placeForMe es una aplicación desarrollada por estudiantes en la Junior Empresa Magna SIS. Esta aplicación consiste en que el alumnado 
              pueda introducir las optativas que quiera cursar en cuarto y la aplicación le dirá si será probable o no que pueda entrar en ellas. </p>
            </section>
          </div>
        </div>            
</div>