<!DOCTYPE HTML>
<html>
<head>
    <title>placeForMe</title>
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/skel.min.js"></script>
    <script src="/js/skel-panels.min.js"></script>
    <script src="/js/init.js"></script>
    <noscript>
        <link rel="stylesheet" href="/css/skel-noscript.css"/>
        <link rel="stylesheet" href="/css/style.css"/>
    </noscript>
</head>

<body class="homepage">

<!-- Header -->
<div id="header">
    <div class="container">

        <!-- Logo -->
        <div id="logo">
            <h1><a href="#">placeForMe</a></h1>
            <span>Descubre si entrarás en las optativas de cuarto</span>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li class="active"><a href="/">Inicio</a></li>
                <% if(session.user){ %>
                <% if(session.user.role === "ADMIN"){ %>
                <li><a href="/users">Usuarios</a></li>
                <% } %>
                <li><a href="/courses">Asignaturas</a></li>
                <% if(session.user.role === "STUDENT"){ %>
                <li><a href="/students/mycourses">Mis elecciones</a></li>
                <li><a href="/students/edit">Editar perfil</a></li>
                <% } %>
                <li><a href="/users/edit">Editar cuenta</a></li>
                <li><a href="/logout">Logout</a></li>
                <% }else{ %>
                <li><a href="/register">Registro</a></li>
                <li><a href="/login">Login</a></li>
                <% } %>
            </ul>
        </nav>

    </div>
</div>
<!-- Header -->

<!-- Main -->
<div id="main">
    <div class="container">
        <div class="row">
            <div class="12u">
                <section>
                    <% if (typeof(errors) !== "undefined") { %>
                    <span id='ErrorMsgs'>
                <!--Corregir errores:<br/>-->
                        <% for (var i in errors) { %>
                        <span> <%= errors[i].message %> </span><br/>
                        <% } %>
                    </span>
                    <% } %>

                    <% if (typeof(alerts) !== "undefined") { %>
                    <span id='AlertMsgs'>
                <!--Corregir errores:<br/>-->
                        <% for (var i in alerts) { %>
                        <span> <%= alerts[i] %> </span><br/>
                        <% } %>
                    </span>
                    <% } %>

                    <div><%- body %></div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- Main -->

<!-- Footer -->
<div id="footer">
    <div class="container">
        <div class="row">

            <div class="3u">
                <section>
                    <ul class="contact">
                        <li>
                            <h3>Dirección</h3>

                            <p> Paseo Manuel Lardizabal 1<br>
                                20018 San Sebastián (Gipuzkoa<br>
                            </p>
                        </li>
                        <li>
                            <h3>Email</h3>

                            <p><a href="#">magnasis@magnasis.com</a></p>
                        </li>
                        <li>
                            <h3>Teléfono</h3>

                            <p>(+34) 943015022</p>

                            <p>(+34) 688962462</p>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="4u">
                <section>
                    <header>
                        <h2>Redes Sociales</h2>
                    </header>
                    <ul class="social">
                        <li class="facebook"><a href="https://www.facebook.com/MagnaSIS">Facebook</a></li>
                        <li class="twitter"><a href="https://twitter.com/magnasis">Twitter</a></li>
                        <li class="linkedin"><a
                                    href="https://www.linkedin.com/company/2687083?trk=tyah&trkInfo=clickedVertical%3Acompany%2Cidx%3A1-2-2%2CtarId%3A1435046170463%2Ctas%3Amagna%20sis">LinkedIn</a>
                        </li>
                        <li class="googleplus"><a href="#">Google+</a></li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->

<!-- Copyright -->
<div id="copyright">
    <div class="container">
        Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a
                href="http://unsplash.com/cc0">CC0</a>)
    </div>
</div>

</body>
</html>
