<div>
    <h3>Tus selecciones: </h3>
    <ul>
        <% for (var i=0; i<courses.length; i++) { %>
            <ul>
                <span><%= courses[i].name %></span>
            </ul>
        <% } %>
    </ul>
</div>