<div>
    <h3>Tus selecciones: </h3>
    <ul>
        <% for (var i=0; i<courses.length; i++) { %>
        <li>
            <a href="/courses/<%= courses[i].id %>">
                <span><%= courses[i].name %></span>
            </a>
        </li>
        <% } %>
    </ul>
</div>