<div>
    <h3>Registro de estudiante:</h3>
    <form method="post" action="/students">
        <% include _form.user.ejs %>
        <% include _form.student.ejs %>
        <input type="submit" value="Registrar" />
        <a href="/students">
            <button type="button">Cancelar</button>
        </a>
    </form>
</div>