<label for="email" class="rem">Email:</label>
<input type="text" id="email" name="manager[email]" value="<%= manager.email %>"/> <p>
<label for="password" class="password">Password:</label>
<input type="password" id="password" name="manager[password]" value="<%= manager.password %>"/> <p>
<a href="/manager"><button type="button">Cancelar</button></a>
<input type="submit" value="Guardar">