<a href="/logout">Salir</a>
<p>
 <table >
     <tr>
        <td> <%= session.user.email %> </td >
         <td><a href="/manager/edit"><button> Editar</button ></a ></td>
        <td>
            <form method="post" action="/manager/delete/?_method=delete ">
                <button type="submit" onclick=" return confirm('Borrar manager:<% session.user.email %>');">borrar manager</button >
            </form>
        </td>
     </tr>
     <tr>
        <a href=" /courses/all"> <button>Administrar asignaturas</button></a>
     </tr>
 </table>
