<table>
    <%var i; for(i=0; i< managers.length;i++){%>
        <tr>
            <td><%=managers[i].email %></td>
            <td><a href="/manager/<%= managers[i].id%>/edit"><button>editar</button></a></td>
            <td>
                <form method="post" action="/manager/<%= managers[i].id %>/delete/?_method=delete">
                    <button type="submit" onclick="return confirm('Borrar manager:<%managers[i].email %>');">borrar</button>
                </form>
            </td>
        </tr>
    <% }%>
</table>
<p/>
<a href="/manager/new"><button>Crear manager</button></a>