<div>
    <h3>Registro de gestor académico:</h3>

    <form method="post" action="/managers">
        <% include _form.ejs %>
        <input type="submit" value="Registrar"/>
        <a href="/managers">
            <button type="button">Cancelar</button>
        </a>
    </form>
</div>