<fieldset>
    <legend>Información de administrador</legend>
    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" name="admin[email]" value="<%= admin.email %>"/>
    </div>
    <div>
        <label for="password" class="password">Password:</label>
        <input type="password" id="password" name="admin[password]" value="<%= admin.password %>"/>
    </div>
</fieldset>