<a href="/logout">Salir</a>
<p>
<table>
    <tr>
        <td> <%= session.user.email %> </td>
        <td><a href="/manager/edit">
                <button> Editar</button>
            </a></td>
        <td>
            <form method="post" action="/admins/delete/?_method=delete ">
                <button type="submit" onclick=" return confirm('Borrar administrador:<% session.user.email %>');">borrar
                    administrador
                </button>
            </form>
        </td>
    </tr>
    <tr>
        <a href=" /courses">
            <button>Administrar asignaturas</button>
        </a>
    </tr>
</table>
