<div>
    <h3>Registro de administrador:</h3>

    <form method="post" action="/admins">
        <% include _form.ejs %>
        <input type="submit" value="Registrar"/>
        <a href="/admins">
            <button type="button">Cancelar</button>
        </a>
    </form>
</div>