<form method="post" action="/forgot">
    <fieldset>
        <legend>Introduce tu correo electronico</legend>
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email"/>
        </div>
        <div>
            <button type="submit">Enviar</button>
        </div>
    </fieldset>
</form>